:root {
  --blue: #0075FF;
  --terminal-color: #252526;
  --white: #FFF
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: inline-block;
  margin: 10px;
}

.container select {
  margin: 10px 10px 10px 0;
}

.container select:hover {
  border-color: var(--blue);
  outline: none;
}

button:focus,
button:hover {
  border-color: var(--blue);
  outline: none;
}

#requestPortBtn,
#sendBtn {
  height: 30px;
  width: 90px;
  margin: 0 2px;
  cursor: pointer;
}

input[type=checkbox] {
  margin-left: 1em;
  vertical-align: middle;
  transform: scale(1.25);
}

#terminal {
  display: block;
  background-color: var(--terminal-color);
  color: var(--white);
  height: 90vh;
  padding: 8px;
  border: 16px solid var(--terminal-color);
  overflow: auto;
}

.terminal--success {
  border-color: limegreen !important;
}

.terminal--error {
  border-color: red !important;
}

.terminal--warning {
  border-color: orange !important;
}

#terminalDevice {
  display: inline-block;
  width: 260px;
  height: 30px;
  border: 1px solid #888;
  border-radius: 2px;
  background-color: #EEE;
  padding: .3em .5em;
  margin-right: 5px;
  vertical-align: middle;
}

.terminalDevice--connected {
  background-color: var(--blue) !important;
  color: var(--white);
}

@media screen and (max-width: 768px){
  #terminal {
    height: 82vh;
  }
}